@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;1,100;1,200;1,300;1,400;1,500&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}


.container {
    margin: 20px 20px 0 20px;
}


/* NAVBAR */
.navbar {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    align-items: center;
    background-color: gray;
}

.navbar .search-bar{
    background-color: rgb(201, 201, 201);
    padding: 15px;
}

.navbar .menus a{
    margin-left: 10px;
    background-color: rgb(201, 201, 201);
    padding: 15px;
}
/* END NAVBAR */

